<div class="border p-3 mb-2">

  <div class="d-flex justify-content-between mb-2">
    <div>
      <small><%= comment.user.name == "" ? User.human_attribute_name(:email) : User.human_attribute_name(:name) %>:</small>
      <%= comment.user.name == "" ? comment.user.email : comment.user.name %>
    </div>
    <div>
      <small><%= Comment.human_attribute_name(:created_at) %>:</small>
      <%= l(comment.created_at, format: :short) %>
    </div>
  </div>

  <p>
    <small><%= Comment.human_attribute_name(:content) %>:</small>
    <%= comment.content %>
  </p>
</div>

<% if comment.user.id == current_user.id %>
  <%= button_to t('views.common.destroy', name: Comment.model_name.human), polymorphic_path([comment.target, comment]), method: :delete , class: "mb-3" %>
<% end %>
